<form action="/signup" method="POST" id="signUpForm" enctype="multipart/form-data" style="position: absolute; left: 30%">
<h2>Sign-up</h2>
<div class="user-details-signup" style="position: relative">
    <div class="row">
      <p>
        <label>First Name</label>
        <input type="text" name="firstName" placeholder="Your first name" required><br>
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="Your last name" required><br>
        <label>Age</label>
        <input type="number" name="age" required><br>
        <label>Username</label>
        <input type="text" name="username" placeholder="Choose a username" required><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="******" required><br>
        <label>E-mail</label>
        <input type="email" name="email" placeholder="Your e-mail" required><br>
        <label>Avatar</label>
        <input type="file" name="photo"><br><br>
        <button type="submit">Create Account</button>
      </p>
    </div>
      {{#if errorMessage}}
        <div class="error-message">
          {{errorMessage}}
        </div>
      {{/if}}
  </div>
</form>