{{!-- <nav class="navbar sticky-top expand-md default-nav bg-primary">
    <div class="container">
        <div class="brand">
            <a href="/">EBB</a>
        </div>
        <div class="menu-box" id="mainNav">
            <div class="menu-close"><i class="fa fa-close"></i></div>
            <ul class="menu ml-auto">
              {{#if currentUser}}
                <li class="nav-item"><a href="/users/{{currentUser.username}}" class="nav-link">Signed in as: {{currentUser.username}}</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                {{else}} 
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
                 {{/if}}
            </ul>
        </div>
        <button class="toggler bg-secondary text-white" data-nav="#mainNav"><i class="fa fa-bars"></i></button>
        <div class="shadow"></div>
    </div>
</nav>
  --}}