<!DOCTYPE html>
<html>
  <head>
    <title>EBB</title>
  </head> 
  <body>
   {{!-- {{> header}} --}}
    <div id="landing-header">
    <h1>The Curated List</h1>
    <h1>Of Female-Friendly Companies</h1>
    <a href="/companies" class="btn btn-lg btn-success">Explore Companies</a>
    </div>
     <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
  </html>


















