<h1>Hello {{username}} </h1>
{{!-- 
    <div class="user-details">
      <img src="{{this.avatar}}" alt="">
      <h4>{{this.firstName this.lastName}}</h4>
      <p>
    <label>First Name</label>
    <input type="text" name="firstName" placeholder="Your first name">
    <label>Last Name</label>
    <input type="text" name="lastName" placeholder="Your last name">
    <label>Date of Birth</label>
    <input type="date" name="dateOfBirth">
    <label>Age</label>
    <input type="number" name="age">
    <label>Username</label>
    <input type="text" name="username" placeholder="Choose a username">
    <label>Password</label>
    <input type="password" name="password" placeholder="******">
    <label>E-mail</label>
    <input type="email" name="email" placeholder="Your e-mail">
    <label>Avatar</label>
    <input type="image" name="image">
      </p>
    </div> --}}