<h1>{{title}}</h1>
<form action="/companies" method="POST">
  <div>
    <label for="name"> Name </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="URL"> URL </label>
    <input type="text" URL="URL" id="URL">
  </div>
  <div>
    <label for="industry"> Industry </label>
    <input type="text" name="industry" id="industry">
  </div>
  <button> Submit </button>
</form>

<a href="/companies">
  Back to Company List
</a>