  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    margin-top: 120px;
    width: 320px;
    height: 320px;
    background-color:white;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: scale-down;
    
  }
  
  .card .card_title {
    color: white;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -45px;

  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
    

  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }

