@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: 'Lato', sans-serif; }

body {
  padding: 0px;
  font-size: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(71, 71, 71, 0.73);
  color: white; }

.cards-list {
  position: relative;
  margin: 120px auto;
  overflow: hidden; }

.cards-list:before {
  border-radius: 190% 150% 0 0;
  position: absolute;
  background: white;
  background-image: linear-gradient(#673AB7, white) !important;
  bottom: 300px;
  right: -200px;
  left: -200px;
  content: '';
  top: 0; }

a {
  color: #00B7FF; }

.avatar {
  height: 150px;
  width: 150px; }

.user-details-signup {
  font-size: 16px; }
  .user-details-signup .error-message {
    background: #F02B63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%; }

.user-details {
  border-radius: 5px;
  margin: auto 25px;
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
  align-content: stretch; }

.newH1 {
  color: white; }

.usernameH1 {
  color: white;
  margin-top: 10px;
  margin-left: 25px; }

.user-interaction {
  flex-wrap: wrap;
  margin: auto 50px;
  font-size: 16px;
  padding-top: 20px; }
  .user-interaction .myComments {
    border-radius: 6px;
    border: solid black 3px;
    background-color: white;
    font-size: 16px; }
  .user-interaction .myVotes {
    border-radius: 6px;
    border: solid black 3px;
    background-color: white;
    font-size: 16px; }
  .user-interaction .company-name {
    border: 1px solid black; }

.comment-new {
  margin: auto;
  color: white; }

.picture {
  align-self: auto; }

.details {
  align-self: center;
  margin-left: 25px; }

#form {
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 25px; }

@media (max-width: 580px) {
  .jumbotron .hero-title {
    font-size: 40px !important;
    color: white !important; }
  .sub-title {
    font-size: 18px !important;
    color: white !important; } }

.btn-success {
  background-color: #4c3196 !important; }

.btn-block {
  background-color: #4c3196 !important; }

.btn-success {
  outline: none !important; }

.btn-success:active, .btn:focus {
  border: none !important; }

.jumbotron.fluid {
  background-color: transparent; }

.hero-title {
  color: white !important; }

.sub-title {
  color: white !important; }

.well {
  background-image: linear-gradient(#8459f9, #4c3196) !important;
  margin-left: 150px;
  margin-right: 150px; }

.col-md-12 {
  margin-left: 150px;
  margin-right: 150px;
  color: white; }

.form-group {
  color: white;
  margin-left: 150px;
  margin-right: 150px; }

.pie-wrapper {
  display: inline-block;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 10px  solid #ddd;
  border-radius: 50%; }

.pie-wrapper .pie {
  clip: rect(0, 200px, 200px, 100px);
  height: 200px;
  position: absolute;
  width: 200px;
  margin: -10px 0 0 -10px; }

.pie-wrapper .pie .half-circle {
  border: 10px solid #3498db;
  clip: rect(0, 100px, 200px, 0);
  height: 200px;
  position: absolute;
  width: 200px;
  border-radius: 50%; }

.pie-wrapper .label {
  position: absolute;
  top: 5%;
  left: 5%;
  display: block;
  width: 180px;
  height: 180px;
  color: #7f8c8d;
  cursor: default;
  font-size: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 50%; }

.pie-wrapper .label em {
  padding-bottom: 20px;
  color: #bdc3c7;
  font-size: .45em;
  vertical-align: super;
  font-style: normal; }

.pie-wrapper .shadow {
  width: 100%;
  height: 100%;
  border: 20px solid #bdc3c7;
  border-radius: 50%; }

.pie-wrapper.progress-half .pie .right-side {
  display: none; }

.pie-wrapper.progress-half .pie .half-circle {
  border-style: solid;
  border-image: -webkit-linear-graident(#ff0000, #ffff00); }

.pie-wrapper.progress-half .pie .left-side, .pie-wrapper.progress-full .pie .left-side {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  transform: rotate(165deg); }

.pie-wrapper.progress-full .pie .left-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

.pie-wrapper.progress-full .pie {
  clip: inherit; }

.pie-wrapper.progress-full .pie .right-side {
  display: block; }

.pie-wrapper.progress-half {
  margin-left: 200px; }

.pie-wrapper.progress-full {
  margin-left: 350px; }

.pie-wrapper.progress-full .pie .right-side {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  transform: rotate(300deg); }

div, div:before, div:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#rating {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  padding-left: 2.5rem;
  position: relative;
  top: 0.25rem; }

.bg-primary {
  background-image: linear-gradient(#8459f9, #4c3196) !important; }

.text-warning {
  font-size: 30px;
  font-weight: 700;
  margin-left: 160px;
  line-height: 50px;
  letter-spacing: 2px;
  background: #3498DB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient-text 8s ease infinite; }

.text-warning1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #ff8a00, #e52e71, #044bea, #7a00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient-text 8s ease infinite; }

@-webkit-keyframes gradient-text {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.hero-title {
  font-size: 60px !important;
  margin-right: 400px !important; }

.text-warning2 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 160px;
  line-height: 50px;
  letter-spacing: 2px;
  background: #3498DB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient-text 8s ease infinite; }

/*# sourceMappingURL=style.css.map */