body {
  padding: 0px;
  font-size: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(71, 71, 71, 0.73);
  color: white;
}

.cards-list {
  position: relative;
  margin: 120px auto;
  overflow: hidden;
  height: 1000px;
  
}

.cards-list:before {
  border-radius: 180% 130% 0 0;
  position: absolute;
  background: white;
  background-image: linear-gradient(#8459f9, white) !important;
  bottom: 300px;
  right: -200px;
  left: -200px;
  content: '';
  top: 0;
}

a {
  color: #00B7FF;
}

.avatar {
  height: 150px;
  width: 150px;
}

.user-details-signup {
  font-size: 16px;
}

.user-details {
  border-radius: 5px;
  margin: auto 25px;
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  // color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
  align-content: stretch;
}

.newH1 {
  color: white;
}

.usernameH1{
  color: white;
  margin-top: 10px;
  margin-left: 25px;
}

.user-interaction {
  margin: auto 50px;
  font-size: 16px;
  padding-top: 20px;
  .myComments{
  border-radius: 5px;
  border: solid black 3px;
  // padding-left: 15px;
  background-color: white;
  font-size: 16px;
  }
  .myVotes {
    border-radius: 5px;
    // padding-left: 15px;
    border: solid black 3px;
    background-color: white;
    font-size: 16px;
  }
}

.picture {
  align-self: auto;
}

.details {
  align-self: center;
  margin-left: 25px;
}

#form {
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 25px;
}

@media (max-width: 580px) {
  .jumbotron .hero-title {
      font-size: 40px !important;
      color: white !important;
  }
  .sub-title {
    font-size: 18px !important;
    color: white !important;
  }
}

.btn-success {
  background-color: rgb(91,63,249) !important;
}

.btn-block {
  background-color: rgb(91,63,249) !important;
}

.jumbotron.fluid {
  // position:absolute !important;
  background-image: linear-gradient(#8459f9, #4c3196) !important;
   border-bottom-left-radius: 1% 1% !important;
   border-bottom-right-radius: 1% 1% !important;
   border-top-left-radius: 1% 1% !important;
   border-top-right-radius: 1% 1% !important;
 }

.hero-title {
  color: white !important;
}

.sub-title {
  color: white !important;
}

.well {
  background-image: linear-gradient(#8459f9, #4c3196) !important;
  margin-left: 150px;
  margin-right: 150px;
}

.col-md-12 {
  margin-left: 150px;
  margin-right: 150px;
  color:white;
}

.form-group {
  color: white;
  margin-left: 150px;
  margin-right: 150px;
}
.pie-wrapper {display:inline-block;position:relative;display:inline-block;width:200px;height:200px;margin:10px;border:10px  solid #ddd;border-radius:50%}
.pie-wrapper .pie {clip:rect(0,200px,200px,100px);height:200px;position:absolute;width:200px;margin:-10px 0 0 -10px}
.pie-wrapper .pie .half-circle {border:10px solid #3498db;clip:rect(0,100px,200px,0);height:200px;position:absolute;width:200px;border-radius:50%}
.pie-wrapper .label{position:absolute;top:5%;left:5%;display:block;width:180px;height:180px;color:#7f8c8d;cursor:default;font-size:3em;line-height:3em;text-align:center;border-radius:50%}
.pie-wrapper .label em {padding-bottom:20px;color:#bdc3c7;font-size:.45em;vertical-align:super;font-style:normal}
.pie-wrapper .shadow {width:100%;height:100%;border:20px solid #bdc3c7;border-radius: 50%}
.pie-wrapper.progress-half .pie .right-side {display: none}
.pie-wrapper.progress-half .pie .half-circle {border-style:solid;border-image:-webkit-linear-graident(#ff0000, #ffff00)}
.pie-wrapper.progress-half .pie .left-side,.pie-wrapper.progress-full .pie .left-side {-webkit-transform: rotate(165deg);-moz-transform: rotate(165deg);transform: rotate(165deg)}
.pie-wrapper.progress-full .pie .left-side{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg)}
.pie-wrapper.progress-full .pie{clip:inherit}
.pie-wrapper.progress-full .pie .right-side {display:block}
.pie-wrapper.progress-full {margin-left: 100px;}
.pie-wrapper.progress-full .pie .right-side{-webkit-transform: rotate(300deg);-moz-transform: rotate(300deg);transform: rotate(300deg)}
div,div:before,div:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}



