body {
  padding: 50px;
  font-size: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(71, 71, 71, 0.73);
  color: white;
}

a {
  color: #00B7FF;
}

.avatar {
  height: 150px;
  width: 150px;
}

.user-details-signup {
  font-size: 16px;
}

.user-details {
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  // color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
  align-content: stretch;
}

.usernameH1{
  color: white;
}

.user-interaction {
  font-size: 16px;
  padding-top: 20px;
  .myComments{
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  }
  .myVotes {
    padding-left: 15px;
    background-color: white;
    font-size: 16px;
  }
}

.picture {
  align-self: auto;
}

.details {
  align-self: center;
  margin-left: 25px;
}

#form {
  padding-left: 15px;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 25px;
}