<head>
  <link rel="stylesheet" href="/stylesheets/cards.css">
</head>
<div class="jumbotron fluid">
  <div class="container">

{{!--  <h1 class="mb-0 display-2 hero-title">We crowdsourced company policies to help create a more diverse workforce</h1>
    <br>
    <h3 class="sub-title">Know a company that should be featured?</h3>
    <br>
    <a class="btn primary btn-lg" href="/companies/new">Submit a Company</a> --}}

<h1 class="mb-0 display-2 hero-title">Most Popular Companies</h1>
    <h4 class="sub-title">EBB is a collaborative list of female-friendly companies, based on users reviews and rating.</h4>
    <a class="btn primary btn-lg" href="/companies/new">Missing a Company? Submit one!</a>

  </div>
</div>
<div class="cards-list">
  {{#each allCompanies}}
    <div class="card">
      <div class="card_image">
        <img src="{{ this.image }}"/>
      </div>
      <div class="card_title">
        <a href='/companies/{{ this._id }}' class='btn primary btn-sm' <p> See company details </p> </a>
      </div>
    </div>
  {{/each}}
</div>

