<head>
  <link rel="stylesheet" href="/stylesheets/cards.css">
</head>

<svg width="1500" height="100" viewBox="0 0 600 280" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <g>
    <path id="svg_4" d="m-2,-52.30547c213.92539,-164.88947 427.85073,164.88946 641.77607,0l0,296.80101c-145.92534,122.88948 -463.85068,-190.88945 -641.77607,0l0,-296.80101z" fill="#ffffff"/>
          <img class='image' src="https://66.media.tumblr.com/6b44a3e728da5dab9eb3bfaee7e08166/tumblr_pib3r74GHI1rht6s1o7_1280.png" alt="women" width='500px' height='500px'>
    <div class="container-header">
      <h1 class="mb-0 display-2 hero-title">Most Popular Companies</h1><br><br>
      <h3 class="sub-title">EBB is a collaborative list of female-friendly companies, based on user reviews and ratings</h3> 
      <h4 class="sub-title">Know a company that should be featured?</h4><br>
      <a class="btn primary btn-lg" href="/companies/new">Submit a company</a>
    </div>
  </g>
</svg>

<div class="cards-list">
  {{#each allCompanies}}
    <div class="card">
      <div class="card_image">
        <img src="{{ this.image }}"/>
      </div>
      <div class="card_title">
        <a href='/companies/{{ this._id }}' class='btn primary btn-sm'>
          <p>
            See company details 
          </p> 
        </a>
      </div>
    </div>
  {{/each}}
</div>


