<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Submit A New Company</h1>

        <form action="/companies" method="POST">
            <div class="form-group">
                <label for="field1">Name</label>
                <input name="name" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field2">URL</label>
                <input name="url" type="text" class="form-control" id="field2">
            </div>
            <div class="form-group">
                <label for="field3">Image URL</label>
                <input name="image" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field4">Description</label>
                <input name="description" type="text" class="form-control" id="field4">
            </div>

            <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
        </form>
    
    </div>
</div>