<head>
<link rel="stylesheet" href="/stylesheets/rating.css">
</head>
<body>
<div class="wrap">
  <h1 class="likert-header">Rate {{name}}</h1>
  <form action="/companies" method="POST">
	
    <label class="statement">1.Women in Management Positions Score</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert1" value="1">
        <label>1</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="2">
        <label>2</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="3">
        <label>3</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="4">
        <label>4</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="5">
        <label>5</label>
      </li>
	   <li>
        <input type="radio" name="likert1" value="6">
        <label>6</label>
      </li>
	  <li>
        <input type="radio" name="likert1" value="7">
        <label>7</label>
      </li>
	  <li>
        <input type="radio" name="likert1" value="8">
        <label>8</label>
      </li>
	  <li>
        <input type="radio" name="likert1" value="9">
        <label>9</label>
      </li>
	  <li>
        <input type="radio" name="likert1" value="10">
        <label>10</label>
      </li>
    </ul>
    <div class="buttons">
      <button class="clear">Clear</button>
      <button class="submit">Submit</button>
    </div>
  </form>
  <a href="/companies/{{this._id}}">Back to Scores</a>
</div>

</body>
</html>


